{% trans_default_domain "email" %}

<table border="0" cellpadding="0" cellspacing="0" class="mcnButtonBlock" style="min-width:100%; margin-top:30px; margin-bottom: 0;" width="100%">
	<tbody class="mcnButtonBlockOuter">
	<tr>
		<td align="center" class="mcnButtonBlockInner" style="padding-top:0; padding-bottom:32px;" valign="top">
			<table border="0" cellpadding="0" cellspacing="0" class="mcnButtonContentContainer" style="border-collapse: separate !important;border-radius: 1px;">
				<tbody>
				<tr>
					<td align="left" class="mcnButtonContent" style="padding-left: 32px; padding-right: 32px; padding-top: 21px; padding-bottom: 22px;" valign="middle">
						<a class="mcnButton " href="{{ buttonUrl }}" style="font-weight: normal;letter-spacing: 2px;line-height: 100%;text-align: center;text-decoration: none;color: #FFFFFF; text-transform: uppercase; font-size: 12px;" target="_blank" title="{{ buttonTitle }}">
							{{ buttonTitle }}
						</a>
					</td>
				</tr>
				</tbody>
			</table>
		</td>
	</tr>
	</tbody>
</table>