{% trans_default_domain "email" %}

<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnCodeBlock">
	<tbody class="mcnTextBlockOuter">
	<tr>
		<td valign="top" class="mcnTextBlockInner">
			<div class="mcnTextContent">
				<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateColumns">
					<tbody>
					<tr>
						<!-- BEGIN LEFT COLUMN (LOGO) -->
						<td align="center" valign="top" class="templateColumnContainer">
							<table border="0" cellpadding="10" cellspacing="0" width="100%">
								<tbody>
								<tr>
									<td class="leftColumnContent">
										<a class="custom-header-logo" href="https://example.com" target="_blank">
											<img src="https://example.com/img/email/header_logo.jpg"
												 alt="Logo"
												 style="border: 0px; margin-top: 10px; margin-left:7px; width: 180px; height: 52px;" width="180" height="52">
										</a>
									</td>
								</tr>
								</tbody>
							</table>
						</td>
						<!-- END LEFT COLUMN (LOGO) -->
					</tr>
					</tbody>
				</table>
			</div>
		</td>
	</tr>
	</tbody>
</table>