@import 'tailwindcss';

@theme {
  --font-body: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --color-dark-blue: oklch(0.21 0.034 264.665);
  --color-primary-1: oklch(67.8% 0.179919 287.1);
  --color-primary-2: oklch(80.8% 0.099741 283.9);
  --color-primary-3: oklch(76.7% 0.077564 3.1);
}
body {
  @apply font-body text-lg;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
