IMAGES_PREFIX=crm-
HTTP_PORT=3002

###> lexik/jwt-authentication-bundle ###
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=9571f934fa0f55cdf4a0676ca2904f840f0c48b7a4d3be4392ce78f8a01645f8
###< lexik/jwt-authentication-bundle ###
